@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Zeyada&display=swap');

header{
    height: 100vh;

}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black ;
    background-image: url('../images/rpg_tabletop.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

h1 {
    color: #BEAE19;
    font-family: 'Jim Nightshade', sans-serif;
    font-weight: 800;
    font-size: 48;
}

section h2{
    font-family: 'Jim Nightshade', sans-serif;
    color: black;
    font-weight: 200;
    font-size: 20;
}

section p{
    font-family: 'Jim Nightshade', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 25;
}



ol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Jim Nightshade', sans-serif;
    color: brown;
    font-weight: 200;
    font-size: 25;
}

#secao_apresentacao{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    height: 100vh;

}
#secao_apresentacao img{
    border-radius: 50%;
}

#texto_apresentacao{
        color: #1d1d1d;
}

#texto_apresentacao h2{
    font-size: 2.25rem;
    /*16px = 1rem*/
}

#texto_apresentacao p{
    font-size: 1.75rem;
    /*16px = 1rem*/
}

#secao_fichas{
    height: 100vh;
    background-color: #cf5c0f
}

#secao_fichas ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    max-height: 420px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
}

.class .dnd{
    height: 100%;
    width: 100%;
}

.dnd img{
    height: 100%;
    width: 100%;
}

.card .texto{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s ;
}

.card:hover .texto{
    opacity: 1;
}

